#wd-assignments {
  margin: 20px;
}

.card {
  margin-top: 20px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.border-start {
  height: 100%;
}
