body {
  margin: 0;
  padding: 0;
}

body * {
  font-family: Arial, Helvetica, sans-serif;
}

.btn-secondary {
  --bs-btn-color: #000;
  --bs-btn-bg: #c7cdd1;
  --bs-btn-border-color: #c7cdd1;
  --bs-btn-hover-color: #fff;
}

.bg-secondary {
  background-color: #c7cdd1 !important;
}

.border-gray {
  border: 1px solid gray;
}

#wd-kanbas {
  display: flex;
}

#wd-kanbas-navigation {
  width: 120px;
  flex-shrink: 0;
}

.wd-main-content-offset {
  flex-grow: 1;
  margin-left: 120px; /* Match the width of the sidebar */
}

#wd-modules-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#wd-modules-controls button {
  margin-left: 1rem;
}

#wd-modules {
  margin-top: 1rem;
}

#wd-modules .wd-module {
  margin-bottom: 2rem;
}

#wd-modules .wd-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#wd-modules .wd-lessons .wd-lesson {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .wd-main-content-offset {
    padding-left: 0 !important;
  }
}

#wd-courses-navigation > .list-group-item.active {
  color: black;
  background-color: white;
  border-left: 3px solid black !important;
}

.list-group-item {
  color: red;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
}

.active-link {
  color: black !important;
  border-left: 3px solid black;
  padding-left: 17px;
  font-weight: bold;
}

.card-text {
  max-height: 53px;
  overflow: hidden;
}
