body {
  margin: 0;  
  padding: 0;
}

body * {
  font-family: Arial, Helvetica, sans-serif;
}

.btn-secondary {
  --bs-btn-color: #000;
  --bs-btn-bg: #c7cdd1;
  --bs-btn-border-color: #c7cdd1;
  --bs-btn-hover-color: #fff;
}

.bg-secondary {
  background-color: #c7cdd1 !important;
}

.border-gray {
  border: 1px solid gray;
}

#wd-kanbas {
  display: flex;
}

#wd-kanbas-navigation {
  width: 120px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  z-index: 1000; /* Ensure it stays on top */
}

.wd-main-content-offset {
  flex-grow: 1;
  padding-left: 140px; /* Adjust padding to ensure the main content doesn't overlap */
}

#wd-modules-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#wd-modules-controls button {
  margin-left: 1rem;
}

#wd-modules {
  margin-top: 1rem;
}

#wd-modules .wd-module {
  margin-bottom: 2rem;
}

#wd-modules .wd-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#wd-modules .wd-lessons .wd-lesson {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .wd-main-content-offset {
    padding-left: 140px !important;
  }
}

#wd-courses-navigation > .list-group-item.active
#wd-courses-navigation > .list-group-item.active {
  color: black;
  background-color: white;
  border-left: 3px solid black !important;
}

#wd-kanbas .wd-main-content-offset {
  padding-left: 140px;
}